#contact iframe {
    width: 100%;
}

.contact_1 h3 {
    display: inline;
}

.contact_1 a {
    text-shadow: none;
}

.book {
    cursor: pointer;
}

.book hr {
    margin-bottom: 10px;
}

.modal-content {
    margin-top: 100px;
}
.p_modal{
    margin-top: 10px;
}

.img_modal {
    display: inline-block;
}

input {
    background: grey
}

.travel1 {
    border: 1px solid #c7c7c7;
    padding-left: 0px;
    padding-right: 0px;
    float: none;
}

.travel1 img {
    width: 100%;
}

.movie_head {
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.movie_head i {
    float: right;
}

.environment_li {
    margin-top: 13px;
}

.environment_li h4 {
    border-bottom: 1px solid white;
    padding: 8px;
}
